In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt  
from sklearn.datasets import make_classification
# from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
from sklearn.metrics import precision_score
from sklearn import metrics 
from sklearn.tree import export_graphviz
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV    
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.datasets import load_iris
from io import StringIO  
from IPython.display import Image  
import pydotplus
import graphviz
from itertools import product

from sklearn.metrics import confusion_matrix

from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('exams.csv')
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
x = df.drop('math score', axis=1)
x = x.drop('reading score', axis=1)
x = x.drop('writing score', axis=1)
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group D,some high school,free/reduced,none
1,male,group D,high school,free/reduced,none
2,female,group C,some college,standard,none
3,female,group E,high school,standard,none
4,male,group A,some high school,standard,none

In [6]:
math_score = df['math score']
reading_score = df['reading score']
writing_score = df['writing score']

math_score.head()
reading_score.head()
writing_score.head()

0    69
1    40
2    66
3    74
4    45
Name: writing score, dtype: int64